<div id="<%= dom_id cleaner %>">
  <p>
    <strong>Name:</strong>
    <%= cleaner.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= cleaner.surname %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= cleaner.birthdate %>
  </p>

  <p>
    <strong>Residence:</strong>
    <%= cleaner.residence %>
  </p>

  <p>
    <strong>Hired:</strong>
    <%= cleaner.hired %>
  </p>

</div>
