<div id="<%= dom_id site %>">
  <p>
    <strong>Nome:</strong>
    <%= site.nome %>
  </p>

  <p>
    <strong>Time required:</strong>
    <%= site.time_required %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= site.location %>
  </p>

  <p>
    <strong>Requests:</strong>
    <%= site.requests %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= site.owner %>
  </p>

</div>
